# SQL Programming with PySpark 
SQL with PySpark Provides seamless integration with SparkSQL, allowing you to perform SQL-like queries on DataFrames. 


**Note**:
This Notebook Applies for PySpark Env running on Local Machince

In [1]:
#Import Spark Packges 
from pyspark.sql import SparkSession

In [2]:
#Build an Spark Session
spark = SparkSession.builder.getOrCreate()

In [3]:
# Using a DataFrame Object from Spark for Employee
empDF = spark.read.csv("data/emp.csv",header=True,inferSchema=True)

In [4]:
# Using a DataFrame Object from Spark for Employee
empDF.show()

+------+----------+-----------------+----------+--------------+-------------+-------------+
|emp_id|  emp_name|  emp_designation|emp_salary|emp_department|emp_join_date| emp_location|
+------+----------+-----------------+----------+--------------+-------------+-------------+
|   101|John Smith|Software Engineer|     75000|            IT|   15-01-2022|     New York|
|   102|  Jane Doe|     Data Analyst|     60000|     Analytics|   20-08-2021|San Francisco|
|   103|Mike Brown|  Product Manager|     90000|       Product|   10-05-2023|       London|
|   104|Lisa Green|       HR Manager|     85000|            HR|   05-11-2020|         NULL|
+------+----------+-----------------+----------+--------------+-------------+-------------+

In [14]:
depDF = spark.read.csv("data/dep.csv",header=True,inferSchema=True)

In [ ]:
depDF.show()

### 1. **Register DataFrame as a Temporary View:**
Registering the DataFrame as a temporary View named 'employees'

In [7]:
# Registering the 'empDF' DataFrame as a temporary View 'employeeView'
empDF.createOrReplaceTempView("employeeView")

# Registering the 'depDF' DataFrame as a temporary View 'dedepartmentView'
depDF.createOrReplaceTempView("departmentView")

###  2. **SQL SELECT Query:**
Performing a SELECT query using SQL

In [10]:
avgSalaryQuery = "SELECT avg(emp_salary) as avgSalary,emp_department FROM employeeView GROUP BY emp_department"

In [11]:
avgSalaryQueryResults = spark.sql(avgSalaryQuery)

In [13]:
avgSalaryQueryResults.show()

+---------+--------------+
|avgSalary|emp_department|
+---------+--------------+
|  85000.0|            HR|
|  60000.0|     Analytics|
|  75000.0|            IT|
|  90000.0|       Product|
+---------+--------------+

In [ ]:
result_df = spark.sql("SELECT emp_name, emp_salary FROM employeeView")
result_df.show()
display(result_df)

In [ ]:
display(empDF)

### 3. **AGGREATION FUCNTIONS**

In [ ]:
avg_salaryQuery = 'SELECT AVG(emp_salary) as avg_salary,emp_department FROM employeeView GROUP BY emp_department'
result_df = spark.sql(avg_salaryQuery)
result_df.show()

In [ ]:
max_salaryQuery = 'SELECT max(emp_salary) as max_salary FROM employeeView'
result_df = spark.sql(max_salaryQuery)
result_df.show()

In [ ]:
min_salaryQuery = 'SELECT min(emp_salary) as min_salary FROM employeeView'
result_df = spark.sql(min_salaryQuery)
result_df.show()

### 4. **SQL WHERE Clause:**
Using WHERE clause to filter rows

In [ ]:
result_df = spark.sql("SELECT * FROM employeeView WHERE emp_salary > 70000")
result_df.show()

### 5. **SQL GROUP BY and Aggregate:**
Using GROUP BY and AVG to calculate average salary per department

In [ ]:
result_df = spark.sql("SELECT emp_department, AVG(emp_salary) AS avg_salary FROM employeeView GROUP BY emp_department")
result_df.show()

### 6. **SQL JOIN:**
Creating another DataFrame for department information

In [ ]:
display(empDF)
display(depDF)

In [ ]:
# Performing a JOIN using SQL
result_df = spark.sql("SELECT e.emp_name, e.emp_salary, d.dept_name FROM employeeView e JOIN departmentView d ON e.emp_department = d.dept_name")
result_df.show()